.dart_tool/
.git/
.gitdir/
.idea/
.vscode/
build/
coverage/

.env
.env.*
!.env.example

.DS_Store
._*
*.log
*.iml

android/.gradle/
android/local.properties
android/app/debug/
android/app/profile/
android/app/release/

ios/Flutter/Generated.xcconfig
ios/Flutter/flutter_export_environment.sh
ios/Flutter/ephemeral/
ios/Runner/GeneratedPluginRegistrant.*
ios/Pods/
